<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configurazione dell'applicazione</comment>
<entry key="app.theme">dark</entry>
<entry key="app.language">it</entry>
<entry key="app.version">1.2.3</entry>
</properties>
